.alien {
    width: 50px;
    height: 50px;
    position: absolute; /* or relative if necessary */
    top: 43%;
    left: 50%;
    z-index: 3; /* Ensure the alien is above stars and messages */
  }
  
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
  .red {
    background-color: rgb(160, 5, 5);
  }

  .shape1 {
    clip-path: polygon(
      10% 20%, 20% 10%, 30% 10%, 40% 20%, 50% 10%, 60% 10%, 70% 20%, 
      60% 30%, 70% 40%, 50% 40%, 50% 30%, 30% 30%, 30% 40%, 10% 40%, 
      20% 30%
    );
  }
  
  .shape2 {
    clip-path: polygon(
      10% 10%, 20% 15%, 30% 10%, 40% 20%, 50% 10%, 60% 15%, 70% 10%, 
      60% 30%, 75% 35%, 50% 40%, 50% 30%, 30% 30%, 30% 40%, 5% 35%, 
      20% 30%
    );
  }

  /* Evil looking shape*/
  .shape3 {
    clip-path: polygon(
      10% 0%, 20% 15%, 30% 10%, 40% 20%, 50% 10%, 60% 15%, 70% 0%, 
      60% 30%, 75% 35%, 50% 40%, 50% 30%, 30% 30%, 30% 40%, 5% 35%, 
      20% 30%
    );
  }
  
  