.new-starfield-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    top: 0;
    left: 0;
  }
  
  .new-star {
    z-index: 1;
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  