body {
    /* Black background */
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    /* White text for readability */
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}