.overlay_tw {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-window {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    max-height: 80vh; /* Ensure window doesn't exceed the viewport height */
    overflow-y: auto; /* Allow scrolling inside the window */
}

.mission-list {
    margin-top: 20px;
    max-height: 300px; /* Set a max height for the mission list */
    overflow-y: auto;  /* Enable vertical scrolling when content overflows */
    padding-right: 25px; /* Add padding to prevent scrollbar overlap with content */
}

.mission-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Button styles */
.mission-button {
    padding: 10px;
    background-color: black; /* Default background color */
    color: white; /* Default text color */
    border: 2px solid green; /* Green border */
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
    margin-right: 10px;
    transition: background-color 0.2s ease, color 0.2s ease; /* Smooth transition between styles */
}

/* Button on hover */
.mission-button:hover {
    cursor: pointer; /* Display hand cursor on hover */
}

/* Selected button styles */
.mission-button.selected {
    background-color: #28a745; /* Selected background color */
    color: black; /* Selected text color */
    border: 2px solid #28a745; /* Change border to black when selected */
}

/* Disabled button styles */
.mission-button:disabled {
    background-color: #555; /* Grey background for disabled buttons */
    color: #ccc; /* Light grey text */
    border: 2px solid #777; /* Grey border */
    cursor: not-allowed; /* Show 'not-allowed' cursor for disabled buttons */
}

/* Lock/Unlock status styles */
.lock-status {
    font-size: 20px;
}

/* Save and Exit button styles */
.save-exit-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-exit-button:hover {
    cursor: pointer; /* Display hand cursor on hover */
}
