.fretboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.string-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.fret {
    width: 40px;
    height: 80px;
    border: 1px solid #aaa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pressed {
    background-color: #f0f0f0;
}

.finger-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.oval {
    width: 15px;
    height: 20px;
    background-color: #444;
    border-radius: 50%;
}
