.mb-keyboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    user-select: none;
    touch-action: none;
    position: relative;
    min-width: max-content;
}

/* Mobile-specific scaling - 0.82 of current size */
.mb-keyboard-mobile {
    transform: scale(0.82);
    transform-origin: center top;
    max-width: 100%;
    overflow-x: auto;
    margin-left: -30px;
    margin-top: 0;
}

.mb-key {
    position: relative;
    border: 1px solid #000;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    font-size: 8px;
}

.mb-key.white {
    font: arial;
    font-size: 2pt;
    color: black;
    background: white;
    z-index: 1;
    width: 43px;
    margin: 0;
}

.mb-key.black {
    font: arial;
    font-size: 1.5pt;
    color: white;
    background: black;
    width: 28px;
    height: 120px;
    z-index: 2;
    position: relative;
    top: 0;
}

/* Specific offsets for each black key */
.mb-key.black[data-note*="Db"], .mb-key.black[data-note*="C#"] {
    margin-left: -19px;
    margin-right: -9px;
}

.mb-key.black[data-note*="Eb"], .mb-key.black[data-note*="D#"] {
    margin-left: -9px;
    margin-right: -19px;
}

.mb-key.black[data-note*="Gb"], .mb-key.black[data-note*="F#"] {
    margin-left: -21px;
    margin-right: -7px;
}

.mb-key.black[data-note*="Ab"], .mb-key.black[data-note*="G#"] {
    margin-left: -14px;
    margin-right: -14px;
}

.mb-key.black[data-note*="Bb"], .mb-key.black[data-note*="A#"] {
    margin-left: -7px;
    margin-right: -21px;
}

.mb-key.pressed {
    background: grey;
}

.mb-key.white.pressed {
    background: #ccc;
}

.mb-key.black.pressed {
    background: #555;
}

.mb-key.white.green {
    background: #61b35e;
}

.mb-key.black.green {
    background: #24612c;
}

.mb-key.white.red {
    background: #f5503d;
}

.mb-key.black.red {
    background: #6f0303;
} 