/* Overlay container covering the entire screen */
.overlay {
    position: absolute; /* Fixed position relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; /* High z-index to overlay everything else */
    animation: fadeInOut 60s forwards; /* Animation to fade in and out */
  }
  
  /* Text in the center of the overlay */
  .overlay-text {
    z-index: 99;
    font-size: 70px;
    animation: fadeInOutText 60s forwards; /* Text animation to fade in and out */
    /* font-family: 'Arial', sans-serif; */
    color: #c0c0c0;
    /* Base color for metallic look */
    background: linear-gradient(90deg, #fefefe, #ccf8a6, #ffffff);
    /* background: linear-gradient(90deg, #e6e6e6, #aaa, #e6e6e6); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px #156908, 1px 1px 5px #72d62f;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* Animation keyframes for overlay */
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  /* Animation keyframes for text */
  @keyframes fadeInOutText {
    0% { opacity: 0; transform: scale(0.5); }
    10% { opacity: 1; transform: scale(1); }
    90% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.5); }
  }
  