html, body {
    margin: 0;
    padding: 0;
    /* background-color: black; /* Set background color to black */
    /* color: white; /* Optional: Set text color to white for better visibility */
    height: 100%; /* Ensure the body takes the full height */
    font-family: 'Special Elite', cursive;
    /* font-family: Arial, sans-serif; /* Apply a consistent font */
  }  

.top-menu-container {
    padding-top: 50px;
    padding-left: 50px; /* Adjust this value to control the left padding */
    padding-right: 50px; /* Adjust this value to control the right padding */
  }
  
  .top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 16px;
    /* background-color: black; /* Set the background to black */
    font-family: Arial, sans-serif;
  }
  